   /*AdminNavbar*/
   .NavBackground {
      background-color: var(--darkpurple);
   }
   
   .SearchBox {
      background-color: var(--darklightpurple);
      border-radius: 0;

   }
   
   .Admin-button {
      background-color: var(--purple); 
      color: black;
      border-radius: 10px; 
   }







   /*Sidebar*/
   .sidebar-button-wrapper {
      color: black;
      padding: 10px;
      margin-bottom: 5px;
      transition: background-color 0.3s, color 0.3s;
   }
   

   .sidebar-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
   color: black;

   }

   .sidebar-button-text {
      padding-top: 4em;
      color: black;
      
   }

   .sidebar-button {
      height: 15px;
      line-height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      
   }

   .sidebar-btn-wrapper {
      color: black;
      padding: '20px 5px'
   }

   .sidebar-button-wrapper:hover {
      background-color: var(--darklightpurple);
      color: white;
    }

    .boxColor {
      background-color: var(--darklightpurple);
    }












/*GalleryModal*/
.custom-modal .modal-content {
  width: 150% !important;
  height: 150% !important;
  margin-left: -25% !important;
  margin-right: -25% !important;
  border-radius: 0;
}

.dropdownbox {
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 0px;
}

.nameform {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 0px;
}

.modalheader {
  background-color: var(--darkpurple);
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0;
}

.border-square {
  border-radius: 0;
}

.modalbutton {
   background-color: var(--purple);
   color: black;
   border: none;
   border-radius: 0;
   margin-top: 2%;
   margin-bottom: 2%;
 }
